:root {
  font-family: 'Helvetica';
  color: #0F110C;
  background-color: #FDECEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;

}


h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

textarea {
  font-family: Helvetica, sans-serif;
}

button {
  padding: .5rem 1rem;
  border: none;
  background-color: #470063;
  color: #8380B6;

  cursor: pointer;
  transition: background-color .3s ease;
}

.header-nav {
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.header-list {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  margin: .5rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 22rem;
  gap: .5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: auto;
}

.contact-us p {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contact-textarea {
  max-width: 100%;
  min-width: 95%;
  resize: vertical;
}

.contact-form input .contact-form textarea {
  border: 1px solid #ccc;
  color: #333;
}

.footer {
  width: 100%;
}

.footer-nav {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #470063;
}

.footer-list {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  padding: .6rem;
  color: #8380B6;
}

a {
  text-decoration: none;
  color: #8380B6;
  size: 1.5rem;
  font-weight: bold;
}

a:hover {
  color: #0F110C;
  cursor: pointer;
}

a::before {
  content: "// ";
  color: #0F110C;
  size: 1.5rem;
}

button:hover {
  background-color: #0F110C;
}

textarea::placeholder input::placeholder {
  font-family: Helvetica, sans-serif;
}

@media (max-width: 440px) {
  .contact-us {
    max-width: 90%;
    padding: .1rem;
  }
}

@media (min-width: 800px) {
  .article-container {
    max-width: 70%;
  }
}

@media (min-width: 1000px) {
  .article-container {
    max-width: 60%;
  }
}